Repository Big-Bytez/cse110-fa21-group19, pull requests merged in 2021-11, with the labels that each got.

#53 added search-page
  source/search_page/.DS_Store
  source/search_page/README.md
  source/search_page/assets/script.js
  source/search_page/assets/searchRecipe.js
  source/search_page/images/icons8-search red simple.svg
  source/search_page/images/logo.png
  source/search_page/images/pasta.jpeg
  source/search_page/images/shuffle.png
  source/search_page/images/user-image.png
  source/search_page/index.html
  source/search_page/mini-recipe.html
  source/search_page/styles/style.css
Labels: search-page

#57 edited user page styling
  source/user-portal/styles/style.css
Labels: enhancement

#56 edited user page styling
  source/user-portal/index.html
Labels: enhancement

#73 updated side-nav, user icon, search text, logo and text positioning, …
  source/user-portal/assets/favRecipe.js
  source/user-portal/assets/script.js
  source/user-portal/assets/upload.js
  source/user-portal/images/sadburger.gif
  source/user-portal/images/shuffle.png
  source/user-portal/index.html
  source/user-portal/scripts/upload.js
  source/user-portal/styles/style.css
Labels: enhancement, user-portal

#84 prepared search-page for mvp
  source/search_page/index.html
  source/search_page/styles/style.css
Labels: search-page
